html {
  box-sizing: border-box;
}

*,
*::before,
*a::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%; 
}

:root {
  --gap: 30px;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSansRegular"), 
    url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"), 
    url("../fonts/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"), 
    url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} 

body {
  min-width: 320px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.section-title {
  margin: 0;
  margin-bottom: 42px;
  font-size: 36px;
  font-weight:300px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

/* header */

.header{
  padding: 36px 0 ;
  border-bottom: 1px solid  #c4c4c4;
  background-color: #fff;
}

.nav__link {
  position: relative;
  font-weight: 600;
  color: #1c1c1c;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #71A7E2;
}

.nav__link:focus {
  outline: 1px solid #71A7E2;
  outline-offset: 2px;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474BA;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  color: #3172B9;
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

.header__container { 
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 52px;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

.btn {
  position: relative;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #3172b9;
  color: #fff;
  border-radius: 3px;
  transition: background-color, 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid #3172B9;
  outline: none;
  opacity: 0;
  transition: opacity, 0.3s ease-in-out;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71A7E2;
}

.btn:active {
  background-color: #0E3B6C;
}

.btn:active::after {
  opacity: 0;
}

/* hero */

.hero {
  padding: 100px 0;
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  min-width: 50px;
  flex-direction: column;
  align-items: flex-start;

}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300px;
  font-size: 40px;
  line-height: 130%;
}

.hero__descr {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;

}

.hero__wrapper {
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 14px;
}

.hero__secure {
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  text-transform: uppercase;
  background-image: url("../img/SLL.png");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

/* services */

.services {
  border-bottom: 1px solid #dadada;
}

.services__title {
  text-align: center;
}

.services__descr {
  text-align: center;
}

.services__item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: calc((100% - (var(--gap) * 3 )) / 4);
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.services__item:hover {
  border-color: #3172B9;
  background-color: #3172B9;
}

.services__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services__item-icon {
  fill: #3172B9;
  margin-bottom: 25px;
  transition: fill 0.3s ease-in-out;
}

.services__item:hover .services__item-icon {
  fill: #fff;
}

.sercices__item-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color:#1c1c1c;
}

.services-item-desc {
  margin: 0;
}

.services__item:hover .sercices-item-title {
  color: #fff;
}

.services__item-desc {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.services__item:hover .services__item-desc {
  color: #fff;
}


/* articles */

.article {
  border-bottom: 1px solid #dadada;
}

.article-list {
  flex-wrap: wrap;
}

.article-item { 
  width: calc((100% - (var(--gap) * 1 )) / 2);
  margin-bottom: 30px;
}

.articles-center {
  padding-top: 20px;
  display: none;
  text-align: center;
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.article-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out; 
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}
.blog-preview-descr {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  max-width: 210px;
  transition: color 0.3s ease-in-out;
}

.blog-preview-link {
  display: flex;
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out
}


.blog-preview-link:focus {
  background-color: #71A7E2;
}

.blog-preview-link:focus .blog-preview-title {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-time {
  color: #fff;
}

.blog-preview-link:hover {
  background-color: #3172B9;
}

.blog-preview-link:hover .blog-preview-title {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-time {
  color: #fff;
}


.blog-preview-link:active {
  background-color: #0E3B6C;
}

.blog-preview-link:active .blog-preview-title {
  color: #fff;
}

.blog-preview-link:active .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:active .blog-preview-time {
  color: #fff;
}

/* clients */

.clients {
  border-bottom: 1px solid #dadada;
}

.clients-item {
  flex-direction: column;
   width: calc((100% - (var(--gap) * 2)) / 3);
   padding: 50px 36px;
   padding-bottom: 30px;
   border: 1px solid #e4e4e4;
   border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.clients-item-descr {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
  width: 100%;
  padding-top: 28px;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #317289;
  border-radius: 100%;
}

.clients-name {
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.clients-post {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* contacts */

.contacts {
  border-bottom: 1px solid #dadada;
}

.conrancts-address {
  font-style: normal;
}

.contacts-item-address {
  background-image: url("../img/location-on.svg");
}

.contacts-item-phone {
  background-image: url("../img/phone.svg");
}

.contacts-item-mail {
  background-image: url("../img/mail.svg");
}

.contacts-item {
  width: calc((100% - (var(--gap) * 2)) / 3);
  flex-direction: column;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  padding-top: 48px;
}

.contacts-item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.contacts-item-text {
  margin: 0;
  max-width: 215px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.contacts-item-link:focus {
  outline: 1px solid #71A7E2;
}

.contacts-item-link:hover {
  color: #71A7E2;
}

.contacts-item-link:active {
  outline: none;
  color: #0E3B6C;
}

.contacts-title {
  margin-bottom: 111px;
}

/* joun-us */

.joun-us {
  border-bottom: 1px solid #c4c4c4;
}

.form {
  padding-left: 55px;
  padding-right: 55px;  
}

.joun-us-title {
  text-align: center;
  margin-bottom: 22px;
}

.joun-us-descr {
  text-align: center;
  margin-bottom: 30px;
}

.form-input {
  margin-bottom: 19px;
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  margin-bottom: 19px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}


.form-input:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-input:hover {
  border-color: #71A7E2;
}

.form-input:active {
  border-color: #0E3B6C;
}

.form-select {
  box-sizing: border-box;
  border: 1px solid #dadada;
  border-radius: 50px;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-select:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-select:hover {
  border-color: #71A7E2;
}

.form-select:active {
  border-color: #0E3B6C;
}


.form-textarea {
  box-sizing: border-box;
  border: 1px solid #dadada;
  border-radius: 20px;
  resize: none;
  padding: 16px 28px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-textarea:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-textarea:hover {
  border-color: #71A7E2;
}

.form-textarea:active {
  border-color: #0E3B6C;
}


.from-bottom {
  display: flex;
  justify-content: flex-end;
}

.from-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  display: flex;
  width: 49%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-right {
  width: 49%;
}

.form-btn {
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  margin-bottom: 9px;
}

.form-check {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form-check input {
  margin-right: 8px;
}

.form-check a {
  color: #3172B9;
  border-bottom: 1px solid #3172B9;
}

/* footer */

.footer {
  padding: 42px 0;
}

.footer-copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.footer-link {
  position: relative;
  font-size: 12px;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.footer-link:focus {
  outline-offset: 2px;
  outline: 2px solid #71A7E2;

}

.footer-link:hover {
  color:#71A7E2
}

.footer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3172b9;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer-link:active {
  opacity: 1;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  margin-right: 56px;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}

.social-link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;

}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.social-link svg {
  fill: #000;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.social-link-mail svg {
  fill: transparent;
  stroke: #000;
}

.social-link:focus svg {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.social-link:hover svg{
  fill: #71A7E2;
}

.social-link-mail:hover svg{
  fill: transparent;
  stroke: #71A7E2;
}

.social-link:active svg{
  fill: #3172B9;
}

.social-link-mail:active svg{
  fill: transparent;
  stroke: #3172B9;
}


.burger {
  display: none;
}